/* Reset some default browser styles */
body,
h1,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Arial", sans-serif;
}

body {
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
  font-size: 16px;
}

header {
  background-color: #ffffff;
  color: #333;
  padding: 0 3rem 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#lancer-logo {
  max-width: 150px;
  margin-right: 2rem;
}

#header-content {
  text-align: left;
}

header h1 {
  font-size: 2.5rem;
}

header p {
  font-size: 1.2rem;
  margin-top: 0.5rem;
}

nav,
footer {
  background-color: #ccc;
}

nav ul {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

nav ul li {
  flex: 1 1 auto;
}

nav ul li a {
  display: block;
  text-align: center;
  padding: 0.5rem 0;
  color: #222;
  text-decoration: none;
  transition: background-color 0.3s;
}

nav ul li a:hover {
  background-color: #bbb;
}

section {
  padding: 2rem;
  max-width: 800px;
  margin: 1rem auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
  border-bottom: 2px solid #f4f4f4;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

section p,
section ul {
  margin-top: 1rem;
}

section a {
  color: #007bff;
  text-decoration: none;
}

section a:hover {
  text-decoration: underline;
}

#cornell-logo {
  float: right;
  width: 50%;
  margin-right: 10%;
  margin-top: 2em;
}

@media (max-width: 500px) {
  #cornell-logo {
    display: none;
  }
}

footer {
  text-align: center;
  padding: 1rem 0;
  margin-top: 2rem;
}
